{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/trips/{{ trip.id }}?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit Trip</legend>
            <label class="form-label">Name:</label>
            <input 
                type="text" 
                name="name" 
                placeholder="enter trip name"
                class="form-control"
                value="{{ trip.name }}"
            >
            <label class="form-label">City:</label>
            <input 
                type="text" 
                name="city" 
                placeholder="enter city"
                class="form-control"
                value="{{ trip.city }}"
            >
            <label class="form-label">Recommend: </label>
            <input 
                type="checkbox" 
                name="recommend"
                class="form-check-input"
                {% if trip.recommend %}
                    checked
                {% endif %}
            >
        </fieldset>
        <input type="submit" class="btn btn-success" value="Edit {{ trip.name }}">
    </form>
</div>
{% endblock %}