{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-sm">
        <form action="/trips" method="POST">
            <fieldset>
                <legend>Create New trip</legend>
                <label class="form-label">Name: </label>
                    <input 
                        type="text" 
                        name="name"
                        placeholder="enter city name"
                        class="form-control"
                    >
                <label class="form-label">Color:</label>
                    <input 
                        type="text" 
                        name="color" 
                        placeholder="enter fruit color"
                        class="form-control"
                    >
                <label class="form-label">Ready To Eat:</label>
                    <input 
                        type="checkbox" 
                        name="readyToEat"
                        class="form-check-input"
                    >
            </fieldset>
            <input 
                type="submit" 
                value="Create New Trip"
                class="btn btn-success"
            >
        </form>
    </div>
{% endblock %}