<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="styles.css">
     {% layout 'layout.liquid' %}
     {% block content %}
     <title>Weather</title>
 </head>
 <body>
     <h1>Your Next Destinations Current Weather</h1>
     <form action="/weather" method = "POST">
         <input type="text" name="zip" placeholder="Enter your zip code">
         <input type="submit" >
     </form>
     <div class="weather">
         <h3>City: {{ weather.name }}</h3>
         {% if weather.main.temp > 90 %}
         <style>
             .temp {
                 color: red;
             }
         </style>
           {% elsif weather.main.temp < 40 %}
         <style>
             .temp {
                 color: blue;
             }
         </style>
         {% endif %}
         <h2 class = 'temp'>Current Temperature: {{ weather.main.temp }}</h2>
         <h2>Weather Description: {{ weather.weather[0].description }}</h2>
     </div>
 </body>
 {% endblock %}
 </html>  